# Binaries
**/bin/
!vendor/premake5/bin/
bin-int/
libs/

# Visual Studio files and folders
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj
**.csproj.filters
**.csproj.user

# Other files
WireProfile-Runtime.json
WireProfile-Shutdown.json
WireProfile-Startup.json
Wire.log
MonoDebugger.log

Wire/vendor/VulkanSDK
Wire-Designer/assets/cache
scripts/__pycache__