[submodule "Wire/vendor/spdlog"]
	path = Wire/vendor/spdlog
	url = https://github.com/gabime/spdlog
	branch = v1.x
[submodule "Wire/vendor/GLFW"]
	path = Wire/vendor/GLFW
	url = https://github.com/TheCherno/glfw
	branch = master
[submodule "Wire/vendor/glm"]
	path = Wire/vendor/glm
	url = https://github.com/g-truc/glm
	branch = master
[submodule "Wire/vendor/yaml-cpp"]
	path = Wire/vendor/yaml-cpp
	url = https://github.com/thecherno/yaml-cpp
[submodule "Wire/vendor/ImGuizmo"]
	path = Wire/vendor/ImGuizmo
	url = https://github.com/TheCherno/ImGuizmo
[submodule "Wire/vendor/imgui"]
	path = Wire/vendor/imgui
	url = https://github.com/Loch9/imgui
[submodule "Wire/vendor/msdf-atlas-gen"]
	path = Wire/vendor/msdf-atlas-gen
	url = https://github.com/TheCherno/msdf-atlas-gen
